* {
	font-family: sans-serif;
}

.msc-carousel .msc-arrow {
	opacity: 0.5;
	position: absolute;
	top: 50%;
	margin-top: -30px;
}

.msc-carousel .msc-arrow.left {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 30px 25px 0;
	border-color: transparent #ffffff transparent transparent;
	left: 10px;
}

.msc-carousel .msc-arrow.right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 30px;
	border-color: transparent transparent transparent #ffffff;
	right: 10px;
}

.msc-carousel .msc-arrow:hover {
	opacity: 1;
}

.msc-carousel .msc-arrow span {
	display: none;
}

ol.msc-dots {
	overflow: hidden;
}

ol.msc-dots li a {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #333;
	text-indent: -999em;
}

ol.msc-dots li.active a {
	background-color: red;
}

.content {
	padding-left: 2em;
	padding-right: 2em;
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

.msc-carousel-zoom,
.msc-carousel-zoom img {
	max-width: 100%;
}

.msc-carousel-zoom .unzoom {
	display: block;
	background: #333;
	color: #FFF;
	padding: 5px 10px;
}

.msc-carousel-zoom .unzoom:hover {
	background: #666;
}

.modal {
	position: fixed;
}