* {
	font-family: sans-serif;
}

.carousel .arrow {
	opacity: 0.5;
	position: absolute;
	top: 50%;
	margin-top: -30px;
}

.carousel .arrow.left {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 30px 25px 0;
	border-color: transparent #ffffff transparent transparent;
	left: 10px;
}

.carousel .arrow.right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 30px;
	border-color: transparent transparent transparent #ffffff;
	right: 10px;
}

.carousel .arrow:hover {
	opacity: 1;
}

.carousel .arrow span {
	display: none;
}

ol.dots {
	overflow: hidden;
}

ol.dots li a {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #333;
	text-indent: -999em;
}

ol.dots li.active a {
	background-color: red;
}

.content {
	padding-left: 2em;
	padding-right: 2em;
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

.carousel-zoom,
.carousel-zoom img {
	max-width: 100%;
}
